<%- include('plantilla/header.ejs') %>


      <div class="container">
        <div class="row">
          <div class="col-12 py-5">
            <div class="card">
              <div class="card-header">
                <a href="/categoria/create" class="btn btn-outline-primary"><i class='bx bx-plus-circle bx-md'></i></a>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap m-0">
                  <thead>
                    <tr class="bg-primary text-white">
                      <th scope="col">N°</th>
                      <th scope="col">Categoria</th>
                      <th scope="col">Abreviatura</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% contador = 1 %>
                    <% results.forEach((categoria)=> { %>
                      <tr id="<%= categoria.id_cat %>">
        
                        <td><%= contador %></td>
                        <td><%= categoria.categoria %></td>
                        <td><%= categoria.abre_cate %></td>
                        <td><%= categoria.descr_cate %></td>
                        <td>
                          <a href="/categoria/edit/<%= categoria.id_cat %>" class="btn btn-outline-info">editar</a>
                          
                          <button id="eliminar" value="<%= categoria.id_cat %>" class="eliminar btn btn-outline-danger">borrar</button>
                        </td>
                      
                      </tr>
                    <% contador++ %>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

  <script>
    const active = document.getElementById('categoria');
    active.classList.add('active');
    
    document.addEventListener('DOMContentLoaded', () => {
      const click = document.querySelectorAll('.eliminar'); // Selecciona todos los botones con la clase 'eliminar'
  
      click.forEach(boton => {
        boton.onclick = async (e) => { // Asegúrate de que la función sea async
          e.preventDefault();
          
          const result = await Swal.fire({
            title: "¿Está seguro?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Cancelar",
            confirmButtonText: "Eliminar"
          });
  
          if (result.isConfirmed) {
            try {
              const respuesta = await fetch(`/categoria/delete/${boton.value}`, {
                method: 'GET' 
              });
  
              if (respuesta.ok) {
                Swal.fire({
                  title: "¡Eliminado!",
                  text: "La categoria se ha eliminado.",
                  icon: "success"
                }).then(()=>{
                  
                  const fila = document.getElementById(`${boton.value}`);
                  if (fila) {
                    fila.remove();
                  }
                });
              } else {
                Swal.fire({
                  title: "Error",
                  text: "No se pudo eliminar la categoria.",
                  icon: "error"
                });
              }
            } catch (error) {
              console.error('Error al eliminar:', error);
              Swal.fire({
                title: "Error",
                text: "Ocurrió un problema al intentar eliminar el producto.",
                icon: "error"
              });
            }
          }
        };
      });
    });
  </script>
  
  <%- include('plantilla/footer.ejs') %>
